<!doctype html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8" />

        <meta name="google-site-verification" content="vThNg1O3rYGEa0-HIdAo1KoWsO1W9a1cnKBDFjvAuuw" />

        <meta name="description" content="{{ page.title }}" />
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="author" content="pejuko" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css" />
    </head>

    <body>
        <header>
            <nav>
                <a href="{{ site.baseurl }}/">English</a>
                | <a href="{{ site.baseurl }}/cs/">Čeština</a>
            </nav>
            <h1>{{ page.title }}</h1>
        </header>


        <main>
            <section>{{ page.intro }} {{ page.license }}.</section>

            <section class="screenshot">
                <img src="{{ site.baseurl }}/assets/screenshot.png" alt="screenshot" />
            </section>

            <h2>{{ page.installation_title }}</h2>

            <h3>Kindle</h3>
            <section>{{ page.installation_kindle }}</section>

            <h2>{{ page.dictionaries }}</h2>
            <table>
                <thead>
                    <tr>
                        <th></th><th>Kindle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ page.dictionary_en_cs }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/en-cs-pejuko-20250620.mobi">en-cs-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_en_de }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/en-de-pejuko-20250620.mobi">en-de-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_en_es }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/en-es-pejuko-20250620.mobi">en-es-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_en_sk }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/en-sk-pejuko-20250620.mobi">en-sk-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_en_zh }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/en-zh-pejuko-20250620.mobi">en-zh-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_en_sh_cyrillic }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/en-sh-cyrillic-pejuko-20250620.mobi">en-sh-cyrillic-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_en_sh_roman }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/en-sh-roman-pejuko-20250620.mobi">en-sh-roman-pejuko-20250620.mobi</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>{{ page.reversed_dictionaries }}</h2>
            <p>{{ page.reversed_dictionaries_description }}</p>
            <table>
                <thead>
                    <tr>
                        <th></th><th>Kindle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ page.dictionary_cs_en }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/cs-en-pejuko-20250620.mobi">cs-en-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_de_en }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/de-en-pejuko-20250620.mobi">de-en-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_es_en }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/es-en-pejuko-20250620.mobi">es-en-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_sk_en }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/sk-en-pejuko-20250620.mobi">sk-en-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_zh_en }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/zh-en-pejuko-20250620.mobi">zh-en-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_sh_cyrillic_en }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/sh-cyrillic-en-pejuko-20250620.mobi">sh-cyrillic-en-pejuko-20250620.mobi</a></td>
                    </tr>
                    <tr>
                        <th>{{ page.dictionary_sh_roman_en }}</th>
                        <td><a href="https://github.com/pejuko/dictionary/releases/download/v0.3/sh-roman-en-pejuko-20250620.mobi">sh-roman-en-pejuko-20250620.mobi</a></td>
                    </tr>
                </tbody>
            </table>
        </main>

        <footer>{{ page.license }}</footer>
    </body>
</html>
